[Unit]
Description=Arsenal team server
After=network.target

[Service]
ExecStart=/bin/bash -c "cd /opt/arsenal/teamserver; uwsgi --ini uwsgi.ini"
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
RestartPreventExitStatus=255
Type=notify

[Install]
WantedBy=multi-user.target
