[Unit]
Description=Arsenal team server
After=network.target

[Service]
ExecStart=/bin/bash -c "cd /opt/arsenal/teamserver; source /opt/arsenal/teamserver/venv/bin/activate; uwsgi --ini uwsgi.ini"
ExecReload=/bin/kill -SIGQUIT $MAINPID
KillSignal=SIGTERM
Type=simple

[Install]
WantedBy=multi-user.target